{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <a href="{{ path('app_admin_quote') }}" class="btn btn-success">delete quote </a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user != app.user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_user_promote', {'id': user.id}) }}">
                            {% if user.roles|json_encode == "ROLE_ADMIN" %}
                                change
                            {% else %}
                                change
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}